@font-face {
  font-family: 'Argon';
  src: url('/xenon.woff2');
}

[hidden] {
  display: none !important;
}

html, body {
  font-family: 'Argon', system-ui;
  margin: 0;
  height: 100%;
  touch-action: none;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  user-select: none;
}

canvas:focus {
  outline: none;
}

.joystick {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 8rem;
  height: 8rem;
  background-color: rgba(20, 20, 20, 0.5);
  border: 0.2rem solid rgba(20, 20, 20, 0.1);
  backdrop-filter: blur(0.5rem) contrast(30%);
  border-radius: 5rem;
  user-select: none;
}

.joystick .handle {
  width: 2rem;
  height: 2rem;
  background-color: rgba(20, 20, 20, 0.5);
  border: 0.2rem solid rgba(20, 20, 20, 0.1);
  box-shadow: 0 0 0.25rem 0.25rem rgba(20, 20, 20, 0.25);
  border-radius: 2rem;
  cursor: pointer;
  user-select: none;
}

div.inspector {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(20, 20, 20, 0.5);
  backdrop-filter: blur(0.5rem) contrast(30%);
  width: 28rem;
}

.mobile div.inspector {
  width: 100%;
}

.inspector .navbar {
  opacity: 0.75;
  background: rgba(20, 20, 20, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.inspector h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  padding: 0 0.5rem;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
  line-height: 2rem;
  user-select: none;
  max-width: 100%;
  letter-spacing: -0.14rem;
}

.inspector .navbar .back {
  font-size: 3rem;
  line-height: 2rem;
  font-weight: 300;
  margin: -0.5rem 0 0 0;
  padding: 0 0.5rem 0 0;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
}

.inspector .navbar .property-selection-button svg {
  width: 2rem;
  height: auto;
  font-weight: 300;
  padding: 0 0.5rem 0 0.5rem;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.inspector h2 {
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
  font-weight: 300;
  margin: 0;
  color: #ffffff;
  opacity: 0.75;
}

.inspector .colors, .inspector .materials {
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem 1rem;
}

.inspector .preview {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.inspector .tab-container > div {
  max-height: min(80vh, 20rem);
}

.inspector .general p {
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.25rem;
  margin: 0;
}

.inspector .description {
  padding: 0.5rem 1rem;
  text-indent: 2rem;
}

.inspector .general-data {
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
}

.inspector .general-data > div {
  flex: auto;
}

.inspector .general-data > div p {
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.3rem;
}

.inspector .general-data svg {
  padding: 0;
}

.inspector svg {
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.2rem;
}

.inspector .selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.inspector .selection > div {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1;
  width: 100%;
}

.inspector .selection .preview {
  background-color: rgba(20, 20, 20, 0.5);
  flex-grow: 1;
  width: 100%;
}

.inspector .selection .name {
  position: absolute;
  bottom: 0;
  background: rgba(20, 20, 20, 0.5);
  backdrop-filter: blur(0.1rem) contrast(50%);
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.5rem;
  text-align: center;
  margin: 0;
  width: 100%;
}
